<!-- This was modified from https://github.com/jrnold/r4ds-exercise-solutions/blob/master/includes/open-review.html -->
<div class="alert alert-warning">
    <p>
    <i class="fa fa-exclamation"></i>
    <b>Warning:</b> We are currently revising and updating the course content,
    but it will be ready shortly before the course. Sections 1 to 4 are completed.
    </p>
</div>
